/* html {
    font-size: 3rem;
} */

.header-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* h1  */
/* #logo-text */
.logo-text
{
    color: rgba(0,0,0,.9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 1.5rem; */
    /* font-size: 1.5em; */
    font-size: 18px;
}

.nav-link
{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}