/* html {
    font-size: 3rem;
} */

html, body {
    /* single value for all 4 sides */
    padding: 0;
    margin: 0;

    /* 

        set margin & padding to 0 
        so that elements stretch to 
        edge of browser window.
     */
}

body {
    /* outline: 1px solid blue; */
}

.header-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    /* two values: top/bottom  left/right */
    padding: 0 8px;
    /* padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px; */

    /* outline: 1px solid red; */
}

/* h1  */
/* #logo-text */
.logo-text
{
    color: rgba(0,0,0,.9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 1.5rem; */
    /* font-size: 1.5em; */
    font-size: 18px;
    display: inline-block;
    /* outline: 1px solid red; */
    margin-right: 20px;
    /* padding-right: 50px; */
    /* background-color: yellow; */
}

.nav-container {
    display: inline-block;
    /* outline: 1px solid blue; */
}

.nav-link
{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 8px;
}

.hero-image {
    /* 
    Because the image is in a different folder,
    must use ../images/ before the file name.
     */
    background-image: url(../images/adventure-calm-clouds-414171.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 300px;
    min-width: 100%;
    /* opacity: 0.3; */
}

/* "descendant selector" */
/* 
.hero-text h2 {
    font-family: fantasy;
}     */

.hero-image h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* color: #ffffff; */
    color: #fff;
    /* color: rgba(255, 255, 255, 0.9); */
}    

/* 
using an ID, which is more specific and 
overrides the other font-family declarations.
*/
/* #lalalala {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */


/* Flexbox!!!! Aw yeah! */
.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container determines max size */
.profile-image {
    width: 130px;
}
/* img adapts to container */
.profile-image img {
    /*
    constrain either by width OR height.
    not both.
    that messes up the aspect ratio.
     */
    width: 100%;
    border-radius: 50%;
}

